<body>
  <main>
    <h1>Formulario de contacto</h1>
    <div>
        <div class="row">
          <div class="col-md-3">
            <label for="nombre"><b>Nombre</b></label>
          </div>
          <div class="col-md-9"><!--INCLUSIÓN DE LA DIRECTIVA NGMODEL PARA ENVÍO DE DATOS-->
            <input type="text" [(ngModel)]="nombre" placeholder="Nombre y apellido">
          </div>
        </div>
        <div class="row" id="espan1">
          <div class="col-md-3"></div>
          <div class="col-md-9">
            <span>Introduzca su nombre y apellido</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label for="nombre"><b>Email</b></label>
          </div>
          <div class="col-md-9">
            <input type="text" [(ngModel)]="email" placeholder="ejemplo@dominio.com">
          </div>
        </div>
        <div class="row" id="espan2">
          <div class="col-md-3"></div>
          <div class="col-md-9">
            <span>Introduzca un email valido</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label for="nombre"><b>Mensaje</b></label>
          </div>
          <div class="col-md-9">
            <textarea name="mensaje" [(ngModel)]="mensaje" id="mensaje" cols="57" rows="5"></textarea>
          </div>
        </div>
        <div class="row" id="espan3">
          <div class="col-md-3"></div>
          <div class="col-md-9">
            <span>Introduzca un mensaje</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label for="nombre"><b> 2 + 2 = ?</b></label>
          </div>
          <div class="col-md-9">
            <input type="text" [(ngModel)]="respuesta" placeholder="Respuesta">
          </div>
        </div>
        <div class="row" id="espan4">
          <div class="col-md-3"></div>
          <div class="col-md-9">
            <span>Validación anti-span incorrecta</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
          </div>
          <div class="col-md-9">
            <button type="submit" (click)="enviar()" class="btn btn-danger" >Enviar</button>
          </div>
        </div>
       <div class="row" id="respuesta">
         <div class="col-md-2"></div>
         <div class="col-md-10">
          <app-datousuario [contacto] = "contacto"></app-datousuario> <!-- BINDING CON EL COMPONENTE QUE RECIBIRÁ LOS DATOS-->
         </div>
       </div>
      <router-outlet></router-outlet>
    </div>
  </main>
</body>
