<body>
  <main>
    <div>
      <h1>Alta cliente</h1>
      <form>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <label for="nombre">Nombre: </label>
          </div>
          <div class="col-md-7">
            <input type="text">
          </div>
          <div class="col-md-1"></div>
        </div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <label for="nombre">CIF: </label>
          </div>
          <div class="col-md-7">
            <input type="text">
          </div>
          <div class="col-md-1"></div>
        </div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <label for="nombre">Dirección: </label>
          </div>
          <div class="col-md-7">
            <input type="text">
          </div>
          <div class="col-md-1"></div>
        </div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <label for="nombre">Grupo: </label>
          </div>
          <div class="col-md-7">
            <select name="opciones" id="opciones">
              <option value="undefined">Sin definir</option>
              <option value="vip">VIP</option>
              <option value="basico">Básico</option>
            </select>
          </div>
          <div class="col-md-1"></div>
        </div>
        <button type="button">Guardar</button>
      </form>
    </div>
  </main>
</body>
